.donateusimgMobile {
    position: fixed;
    z-index: 1;
    bottom: 1px;
    left: 1
}

.donateusimgPC {
    position: fixed;
    z-index: 1;
    bottom: 7px;
    right: 1px;
}

.imgTagForPC:hover {
    height: 190px;
    width: 190px;
}