.floatIcons{
    position: fixed;
    bottom: 0%;
    left: 70%;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    /* width: 100% !important; */
    /* height: 100% !important; */
    /* overflow: visible; */
}
.MuiSpeedDialAction-staticTooltipLabel{
    color:black !important;
    background-color:lightgray !important;
}