.loginBg{

    // background-image: url("./images/loginbg.png");
    background-repeat: no-repeat;
    /* background-size: contain; */
     background-color: "#16181b";
     background-size: cover;
    background-attachment: fixed;
   
    // background-position: center;
}